:root{
    --titulo: "Manrope var", "Manrope", sans-serif;
    --left: ; 
    --top: ;
    --width: ;
    --height: ;
}
/* ---------------------------------------  Dark mode -------------------------------------- */
@media (prefers-color-scheme: dark){
    :root {
    --fondo-primario: #202028;
    --fondo-secundario: #272a33;
    --componente-primario: #F1b24a;
    --componente-secundario: #3b3a3a;
    --color-texto: #F7F9F9;
    }
}

@media (prefers-color-scheme: light){
    :root {
        --fondo-primario: #202028;
        --fondo-secundario: #272a33;
        --componente-primario: #F1b24a;
        --componente-secundario: #3b3a3a;
        --color-texto: #F7F9F9;
        --color-texto-secundario: #454a5f;
        --nube-morada: #c37ef1;
        }
}
/* -------------------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background: var(--fondo-primario);
    color: var(--color-texto);
}

.exo-2-fuente{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* ---------------------------------------  Header -------------------------------------- */
header{
    top: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    padding: 1rem;
    border-radius: .5rem;
    position: fixed;
    display: flex;
    transition: background .3s ease;
}

.header-fondo{
    background: #3339477a;
    backdrop-filter: blur(1.5rem);
    z-index: 10;
}

.nav-espacio{
    display: flex;
    flex: 1 1 0%;
}

.nav-enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-enlaces ul{
    display: flex;
    gap: .625rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.a-enlace{
    color: var(--color-texto);
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: .625rem;
    text-decoration: none;
}

.boton-seguir{
    position: absolute;
    background: var(--color-texto-secundario);
    backdrop-filter: blur(6px);
    border-radius: .25rem;
    translate: var(--left) var(--top);
    left: -0.5rem;
    top: -0.5rem;
    width: var(--width);
    height: var(--height);
    transition: .3s ease-in-out;
    opacity: 0;
    z-index: -10;
}

.nav-modo-oscuro{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;
    position: relative;
}

.boton-tema{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: 0 .625rem;
    color: var(--componente-primario);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    transition: .6s;
}

.boton-tema:hover{
    background-color: var(--componente-secundario);
    border: 1px solid var(--color-texto);

}

.boton-tema svg{
    filter: drop-shadow(0 0 0.5rem var(--nube-morada));
}

.nombre-tema{
    color: var(--color-texto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: none;
}

#menu-temas{
    position: absolute;
    right: 0;
    width: 140px;
    top: calc(100% + 1rem);
    background-color: var(--color-texto-secundario);
    border-radius: 0.5rem;
    border: 1px solid var(--color-texto);
    box-shadow: 0 0.75rem 2rem -0.75rem var(--nube-morada);
}

.tema{
    width: 100%;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .625rem;
    font-weight: 600;
    font-size: .875rem;
    cursor: pointer;
    color: #959cb2;
}

.tema:hover{
    background-color: var(--fondo-primario);
    border-radius: 0.5rem;
}
/* -------------------------------------------------------------------------------------- */
/* ---------------------------------------Seccion Home----------------------------------- */
#home{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 4rem;
    scroll-snap-align: center;
}

.home{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-fondo-patron{
    position: absolute;
    inset: 0;
    -webkit-mask-image: radial-gradient(farthest-corner at 50% 0,#000 0,transparent 70%);
    mask-image: radial-gradient(farthest-corner at 50% 0,#000 0,transparent 70%);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.fondo-patron{
    /*background-image: url(/img/patron2.svg);*/
    background-color: #f7f9f912;
    position: absolute;
    inset: 0;
    background-size: 80px 160px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.contenedor-logo{
    width: 350px;
    position: relative;
}

.nube{
    border-radius: 59% 41% 29% 71% / 50% 78% 22% 50%;
    background: radial-gradient(#ef8424, var(--fondo-primario));
    width: 80%;
    height: 50%;
    position: absolute;
    z-index: -1;
    top: 35%;
    left: 10%;
    filter: blur(35px);
}

.contenedor-logo img{
    width: 100%;
}

.contenedor-titulos{
    width: 100%;
    display: flex;
    gap: .625rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-titulos h1{
    font-size: 60px;
    font-weight: 800;
    font-family: var(--titulo);
}

.contenedor-titulos h2{
    font-size: 30px;
    font-weight: 400;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* -------------------------------------------------------------------------------------- */
/* ---------------------------------------Seccion Sobre mi----------------------------------- */
#sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.sobre-mi{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 60%;
    height: 100%;
}

.contenedor-subtitulo{
    padding-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    font-family: var(--titulo);
}

.contenedor-sobre-mi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    gap: 3rem;
}

.foto-back{
    background-image: url(/img/yop.png);
    width: 300px;
    height: 400px;
    background-size: contain;
    position: relative;
}

.foto-back::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: var(--componente-primario);
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    border-radius: 39% 61% 31% 69% / 60% 30% 70% 40%;
    z-index: -1;
}

.foto-back::after{
    content: "";
    position: absolute;
    background: linear-gradient(transparent 80%, var(--fondo-primario));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sobre-mi-descipcion{
    min-width: 200px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
/* -------------------------------------------------------------------------------------- */
/* ---------------------------------------Seccion Proyectos---------------------------------- */
#proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: center;
}

.proyectos{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 80%;
    height: 100%;
}

.contenedor-proyectos{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1.5rem;
}

.imagen-proyecto{
    width: 480px;
    position: relative;
}

.imagen-proyecto::before{
    content: "";
    width: 60%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--nube-morada);
    position: absolute;
    filter: blur(3rem);
    bottom: 0;
    z-index: -1;
    opacity: .5;
}

.imagen-proyecto::after{
    content: "";
    width: 60%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--nube-morada);
    position: absolute;
    filter: blur(3rem);
    top: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
}

.imagen-proyecto img{
    width: 100%;
    border-radius: .5rem;
}

.proyecto-cuerpo{
    min-width: min(100%, 640px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.proyecto-contenido{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.proyecto-contenido h3{
    font-family: var(--titulo);
    font-size: clamp(1.5rem,2vw,1.75rem);
    font-weight: 900;
}

.proyecto-contenido p {
    font-size: clamp(1rem,1.5vw,1.125rem);
    font-weight: 500;
    color: #67718e;
}

.proyecto-contenido ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.proyecto-contenido ul li{
    font-size: .75rem;
    font-weight: 800;
    text-transform: uppercase;
    background: #22262f;
    color: #7d86a1;
    padding: 0.625rem 0.625rem;
    border-radius: 1.5rem;
}

.proyecto-pie{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.proyecto-pie #sitio{
    background: #22262f;
    border-radius: 0.5rem;
    padding: .625rem 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d86a1;
    text-decoration: none;
    gap: .5rem;
    box-shadow: 0 0.75rem 1.5rem -0.75rem #000;
    line-height: 1rem;
}

.proyecto-pie #codigo{
    background: linear-gradient(90deg,#fe9fb2,#d89ffe);
    border-radius: 0.5rem;
    padding: .625rem 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101a38;
    text-decoration: none;
    gap: .5rem;
    box-shadow: 0 0.75rem 1.5rem -0.75rem var(--nube-morada);
    line-height: 1rem;
}
/* ------------------------------------------------------------------------------------------ */
/* --------------------------------------Seccion Habilidades--------------------------------- */
#sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.sobre-mi{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 60%;
    height: 100%;
}
/* ------------------------------------------------------------------------------------------ */